{% extends 'base.html' %}
{% block title %}Публичная оферта{% endblock title %}

{% block content %}
<div class="info-about-shop">

    <h2>О продавце и магазине</h2>
    <h5>ИНН: 024801291898</h5>
    <h5>Все заказы после покупки доставляются по указанному адресу Почтой Росии или СДЭК. Доставка оплачивается покупателем при получении. Цена доставки зависит от веса заказа и дальности доставки.</h5>
    <h2>Правовая информация об условиях предоставления услуг</h2>
    <p>Вес товара может отличаться на ± 20 г.
    Если товар окажется бракованным, свяжитесь по номеру телефона 89638958261 в Whatsapp с приложением фото после получения, магазин заменит его на другой или вернет вам средства.
    Каждый продукт желательно протестировать на запястье перед использованием, т.к. они
    содержат эфирные масла, которые могут вызвать аллегрические реакции.</p>
</div>
{% endblock content %}