{% extends 'base.html' %}{% load static %}
{% block content %}
<div class="products-list-wrapper">
    <div class="left-block-inproductslist">
    <div class="categorylist-header"><p>Категории</p></div>
        <div class="categorieslist">
            {% for category in categories %}
            <span class="category-name">{{ category }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="right-block-inproductslist">
        <div class="current-category-name"><span>{{ current_category }}</span></div>
        <div class="products-list">
            {% if products.count == 0 %}
                <span class="products-not-found">По этой категории ещё нет товаров.</span>
            {% endif %}
            {% for product in products %}
            <div class="product-block">
                <div class="image-block">
                    <img class="product-preview" src="{% static 'img/product-preview.jpeg' %}">
                </div>
                <div class="product-info">
                    <div class="txt-info">
                        <span class="product-title">{{ product.name }}</span>
                        <span class="product-price">₽{{ product.price }}</span>
                    </div>
                    <div class="side-info">
                        {% if current_category != 'Мыло' %}
                            <span class="optional-cat-title">{{ product.category.name }}</span>
                        {% endif %}
                        <img class="add2cart" src="{% static 'img/add2cart.svg' %}">
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock content %}

