{% extends 'base.html' %}{% load static %}
{% block title %}Оформление заказа{% endblock title %}
{% block content %}
    <div class="checkout-wrapper">
        <h2 class="order-title">Оформление заказа</h2>

        <div class="form-wrapper">
        <form action="{% url 'pay' %}" method='POST'>
            {% csrf_token %}
            <div class="fio-wrapper">
                <input required minlength="2" maxlength="150" class="order_field fio" type="NAME_LAST" placeholder="Фамилия" name="lastname">
                <input required minlength="2" maxlength="150" class="order_field fio" type="NAME_FIRST" placeholder="Имя" name="firstname">
                <input required minlength='2' maxlength="150" class="order_field fio" type="NAME_MIDDLE" placeholder="Отчество" name="patronymic">
            </div>
            <div class="tel-address-wrapper">
                <input required minlength="11" class="order_field" type="tel" placeholder="Телефон" name='phone'>
                <input required minlength="11" class="order_field" type="text" placeholder="Адрес" id="address" name='address'>
            </div>
            <input required inputmode="numeric" class="order_field" type="ADDRESS_HOME_ZIP" placeholder="Индекс" name="ADDRESS_HOME_ZIP"><br>
            <button  class="checkout-btn" type="submit">Перейти к оплате</button>
        </form>
        </div>
    </div>
{% endblock content %}