/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

/* common styles for header */
/* header {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #C15D00;
    justify-content: space-between;
}
.header_section {
    width: 50%;
    position: relative;
}

.natur {
    font-size: 180%;
    font-family: 'Inter', sans-serif;
    margin-left: 5%;
    color: #3E7D3E;
    margin-bottom: 5px;
}

#leftHeader{
    text-align: left;
    margin-left: 5%;
    align-content: center;
}

#rightHeader{
    text-align: right;
    margin-right: 5%;
    align-content: center;
}

.icon {
    max-width: 7%;
    max-height: auto;
    margin-right: 5%;
    border-radius: 15px;
    border: 1px solid #006400;
    flex: display;
    justify-content: center;
    align-items: center;
}

.auth-txt {
    margin-right: 3%;
    font-size: 150%;
    font-family: 'Montserrat', sans-serif;
} */

/* header2 */

#box {
    max-width: 62%;
    max-height: 62%;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #FA9B29;
    margin-bottom: 20px;
}
.header-wrapper {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.right {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.auth-txt {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}

.natur {
    font-size: 120%;
    font-family: 'Inter', sans-serif;
    color: #3E7D3E;
    white-space: nowrap;
    padding-left: 20px;
    line-height: 1;
}

.icon {
    height: 40px;
    width: 40px;
    border: 1px solid #006400;
    border-radius: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}
.icon:hover {
    border: 1px solid #FA9B29;
    transition-duration: 0.4s, 0.4s;
    transition-property: border;
}

.icon-img-vk {
    width: 67.5%;
    height: 37.5%;
}

.icon-img-google {
    max-width: 50%;
}

.profile-icon {
    height: 75%;
}

/* header2 */

aside {
    float: left;
    border-right: #C15D00 2px solid;
}


main {
    display: flex;
    justify-content: center;
    min-height: 90vh;
    align-items: flex-start;
}
.main-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}
.company-name {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.safya {
    width: 60%;
    height: auto;
}

/* slider */

.slider-wrapper {
    width: 100%;
    margin-top: 0.4%;
    position: relative;    
}

.slider-photo {
    width: 100%;
    border-radius: 20px;
}
.swiper-button-next, .swiper-button-prev{
    color: #28a128;
}
/* slider */
.catalog {
    color: black;
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
}
.catalog-link {
    margin-top: 65px;
}

.swiper-pagination-bullet{
    background: #ffffff;
}

.swiper-pagination-bullet-active{
    background: white;
}


/* Категории на главной странице */
.categories-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3%;
}

.category-block {
    width: 48%;
    position: relative;
    margin-bottom: 3%;

}

.category-longblock {
    width: 100%;
    position: relative;

}

.category-photo {
    width: 100%;
    /* position: relative; */
    border-radius: 20px;
    box-shadow: 0 0 6px #000000;
}

.category-title {
    position: absolute;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    left: 25px;
    bottom: 10px;
    color: #ffffff;
}


/* footer */
footer {
    border-top: 2px solid #C15D00;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.footer-wrapper {
    width: 75%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

.info-about-us {
    position: absolute;
    right: 0;
    bottom: 5px;
    display: flex;
    flex-direction: column;
}
.creator-name-link {
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    color:#000000;
    line-height: 1.25;
}

.yellow-logo {
    width: 60px;
    height: 60px;
}

.contacts-block {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.contact-logos {
    display: flex;
    justify-content: flex-start;

}
.mail {
    font-size: 16px;
    font-family: 'Montserrat';
    font-style: normal;
}

.contact-logo {
    width: 40px;
    height: 40px;
    margin-right: 35px;
}

/* footer */



/*products-list */
.products-list-wrapper {
    width: 75%;
    min-height: 90vh;
}


.left-block-inproductslist {
    width: 25%;
    float: left;
    margin-right: 15px;
}

.right-block-inproductslist {
    width: 70%;
    float: right;
}

.categorylist-header {
    min-height: 15vh;
    display: flex;
    align-items: flex-end;
    padding-left: 10px;
    font-size: 24px;
    font-family: 'Ubuntu', sans-serif;
}

.categorieslist {
    display: flex;
    flex-direction: column;
    min-height: 85vh;
    border-radius: 10px;
    border: 1px solid #F1F4F2
}

.category-name {
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    font-family: 'Montseratt', sans-serif;
}


.category-name-frame {
    border-radius: 12px;
    display: inline-block;
    margin-left: 10px;
}
.category-name-frame:hover {
    background-color: #f1f4f2;
}

.category-link {
    padding-top: 10px;
}
/* правая сторона */
.current-category-name {
    min-height: 15vh;
    display: flex;
    align-items: flex-end;

}
.current-category-name span {
    font-size: 60px;
    font-family: 'Rubik', sans-serif;
}
.products-list {
    display: flex;
    flex-wrap: wrap;
}


.product-block {
    width: 30%;
    border-radius: 10px;
    max-width: 200px;
    margin-right: 3%;
    margin-bottom: 25px;
}
.product-block:hover {
    box-shadow: 0 0 8px #000000;
    transition-duration: 0.3s;
}

.image-block {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
    max-height: 200px;
    max-width: 200px;
}
.product-preview {
    max-width: 100%;
    max-height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.product-info {
    border: 1px solid #eeeeee;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.txt-info {
    display: flex;
    justify-content: space-between;
}
.product-title {
    font-size: 18px;
    font-family: "Inter", sans-serif;
    padding-left: 3%;
    width: 70%;
}
.product-price {
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    padding-right: 3%;
    width: 30%;
}

.side-info {
    min-width: 100%;
    /* display: flex;
    justify-content: space-between; */
}
.add2cart {
    width: 45%;
    margin: 0 3% 3% 3%;
    float: right;
    
}
.add2cart-mini-green:hover {
    fill: #369536;
}

.add2cart-mini-yellow:hover {
    fill: #c47718;
}

.optional-cat-title {
    padding: 5% 3% 0 3%;    
    font-size: 14px;
    float: left;
    font-family: 'Inter', sans-serif;
}

.products-not-found {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
}
/* правая сторона  */

/* products-list */

/* product-block */
.product-wrapper {
    width: 85%;
    display: flex;
}
.product-review {
    width: 45%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}

.title-in-card {
    font-size: 32px;
    font-family: 'Rubik', sans-serif;
    padding-bottom: 15px;
}
.product-img {
    max-width: 100%;
    border-radius: 10px;
}

.product-full-info {
    margin-top: 7%;
    max-width: 50%;
    font-family: 'Montsterrat', sans-serif;
}
.components {
    margin-bottom: 15px;
}
.txt-info-in-product-card {
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.quantitative-info {
    font-size: 20px;
    padding: 10px;
}
.price {
    padding-right: 20px;
}

.main-info {
    border-radius: 10px;
    box-shadow: 0 6px 16px rgb(0 26 52 / 16%), 0 0 0 rgb(0 26 52 / 5%);
    margin-bottom: 15px;
    display: inline-block;
}


.add2cart-buttons{
    width: 300px;
    height: 60px;
    margin: 15px;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add2cart-in-productcard {
    background-color: #2A7926;
    color: white;
    border-radius: 12px;
    border: none;
    width: 100%;
    height: 100%;
}

.add2cart-in-productcard:hover {
    background-color: #21661d;
}

.go2cart {
    background-color: #2A7926;
    color: white;
    border-radius: 10px;
    border: none;
    margin: 0;
    width: 45%;
    height: 100%;
}
.go2cart:hover {
    background-color: #21661d;
}

.plus, .minus {
    font-size: 40px;
    background-color: #efffe7;
    color: #078700;
    border-radius: 10px;
    border: none;
    margin: 0;
    width: 20%;
    height: 100%;
}
.plus:hover, .minus:hover {
    background-color: #e0fbd2;
}

.count-of-product-in-cart {
    display: inline;
    font-size: 22px;
}
.bootstrap-social-icons {
    margin-left: 15px;
}
/* product-block */

/* cart */
.cart-wrapper {
    width: 75%;
    min-height: 90vh;
}

.cart-title-block {
    min-height: 90px;
    display: flex;
    align-items: center;
}
.cart-title {
    font-size: 30px;
    font-family: 'Rubik';
}

/* select2all */
.select2all {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #F1F4F2;
    min-height: 45px;
    display: flex;
    align-items: center;
}

.select2all-label {
    font-size: 20px;
    font-family: 'Ubuntu';
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/* select2all */

/* product-list */
.checkout-and-product-list {
    width: 100;
    display: flex;
    justify-content: row;
}
.product-list-in-cart {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.product-block-in-cart {
    border: 1px solid #F1F4F2;
    border-radius: 8px;
}

.product-block-wrapper {
    padding: 20px;
    display: flex;
    justify-content: row;
}

.img-wrapper {
    max-width: 150px;
    max-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.product-preview-in-cart {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

.common-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.name-weight-delete {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name-weight {
    display: flex;
    flex-direction: column;
}

.price-plus-minus-platform {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.plus-minus-platform {
    width: 140px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 6px 16px rgb(0 26 52 / 16%), 0 0 0 rgb(0 26 52 / 5%);
}

.name {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 7px;
}
.weight {
    font-size: 14px;
    font-family: 'Montsterrat', sans-serif;
    color: #747474;
}

.delete {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: #0148ff;
    padding-bottom: 5px;
    cursor: pointer;
}

.minus-in-cart, .plus-in-cart {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: none;
    border-radius: 10px;
}
.count {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
}

.price-in-cart {
    text-align: end;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
}

input[type="checkbox"] {
    display: none;
}

label {
    padding-left: 30px;
    display: flex;
    align-items: center;
}
label::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: white;
    vertical-align: middle;
    margin-left: -10px;
    border-radius: 20%;
    border: 2px solid #0F890F;
    margin-right: 10px;
}

input[type="checkbox"]:checked + label::before {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTciIHZpZXdCb3g9IjAgMCAxNyAxNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTQgMTJMNi4yIDE0LjkzMzNDNi41NjY2NyAxNS40MjIyIDYuNzUgMTUuNjY2NyA3IDE1LjY2NjdDNy4yNSAxNS42NjY3IDcuNDMzMzMgMTUuNDIyMiA3LjggMTQuOTMzM0wxMS41IDEwTDE2IDQiIHN0cm9rZT0iIzBGODkwRiIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPHBhdGggZD0iTTEuNDg1ODQgMTIuMDM1MkgyLjQzMjM1IiBzdHJva2U9IndoaXRlIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPHBhdGggZD0iTTE1Ljk4MjggMi41MjA3OEMxNS45ODI4IDIuMzEzMjEgMTUuOTgyOCAyLjEwNTY0IDE1Ljk4MjggMS44OTgwN0MxNS45ODI4IDEuNzgzNjMgMTUuODMxNSAxLjQ1MDYzIDE1Ljk4MjggMS4zNzUiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPgo8L3N2Zz4K")
}

.product-label {
    padding-left: 10px;
}
.need2select {
    color: #747474;
    font-size: 18px;
    font-family: 'Montsterrat', sans-serif;
}



















/* product-list */

/* checkout */
.checkout-block {
    width: 30%;
    border-radius: 10px;
    border: 1px solid #F1F4F2;
    max-height: 175px;
}

.checkout-block-wrapper {
    margin: 25px;
}


.common-price-block {
    width: 100%;
    display: none;
    justify-content: space-between;
    padding-bottom: 15px;
    padding-top: 15px;
}

.your-cart {
    display: none;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
}

.common-price-txt {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #747474;
}

.common-price-with-ruble {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
}

.go2checkout {
    display: none;
    width: 100%;
    min-height: 35px;
    border-radius: 8px;
    background-color: #0F890F;
    border: none;
    color: white;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

.go2checkout:hover {
    background-color: #0c790c;
}
/* checkout */


/* empty-cart-info */
.empty-cart-info {
    font-size: 30px;
    font-family: 'Inter', sans-serif;
}
/* empty-cart-info */
/* cart */


/* checkout */
.checkout-wrapper {
    width: 75%;
    height: 100%;
}

.order_field {
    border: 1px solid #a0a4a2;
    border-radius: 8px;
    width: 30%;
    height: 45px;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 25px;
    text-align: center;
}

#address {
    width: 66%;
}

.checkout-btn {
    border: 1px solid #10c44c;
    border-radius: 10px;
    background-color: #10c44c;
    color: white;
    font-size: 18px;
    padding: 10px;
    font-family: 'Inter', sans-serif;
}

.checkout-btn:hover {
    background-color: #0ba13d;
}

.order-title {
    font-family: 'Rubik', sans-serif;
    margin-bottom: 25px;
}

.form-wrapper {
    background-color: #f2f5f9;
    width: 100%;
    padding: 15px;
    border-radius: 15px;
}
.fio-wrapper {
    display: flex;
    justify-content: space-between;
}
.tel-address-wrapper {
    display: flex;
    justify-content: space-between;
}
/* checkout */

/* orders */
.orders-wrapper {
    width: 75%;
}

.my-orders {
    font-size: 35px;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 45px;
}
.orders-list {
    display: flex;
    flex-direction: column;
}

.order-block {
    border: 1px solid #F1F4F2;
    border-radius: 15px;
    padding: 15px;
}

.fio-in-orders {
    font-size: 25px;
    font-family: 'Rubik', sans-serif;
}

.number-postcode {
    font-size: 25px;
    font-family: 'Inter', sans-serif;
}

.address-in-orders {
    font-size: 22px;
    font-family: 'Inter', sans-serif;
}

.price-in-orders {
    font-size: 22px;
    font-family: "Rubik", sans-serif;
}
.status {
    font-size: 22px;
    font-family: 'Inter', sans-serif;
}

.product-list-in-orders {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 15px;
}
.product-image-in-orders {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    max-width: 100%;
    cursor: pointer;
}

.product-block-in-orders {
    max-width: 30%;
    margin-right: 3.3%;
}

.name-amount {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid #f1f4f2;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    min-height: 90px;
    margin-bottom: 20px;
}

.product-title-in-orders {
    font-size: 22px;
    font-family: 'Montseratt', sans-serif;
}

.amount {
    font-size: 20px;
    font-family: 'Montseratt', sans-serif;
}














/* orders */

@media screen and (min-width:100px) and (max-width:1200px) {

/* adaptive-layout */

/* header-adaptive */

.logo {
    width: 90px;
    height: 90px;
    margin: 5px;
}

.header-wrapper {
    width: 90%;
}

.icon {
    height: 70px;
    width: 70px;
}

.natur {
    font-size: 150%;
}
/* header-adaptive */
.main-page-wrapper {
    width: 90%;
}
.safya {
    width: 75%;
}

.catalog {
    font-size: 60px;
}

/* product-list-adaptive */

.products-list-wrapper {
    width: 90%;
}

.product-block {
    width: 47%;
    max-width: 350px;
}
.image-block {
    max-width: 350px;
    max-height: 350px;
}

.product-title {
    font-size: 24px;
}

.product-price {
    text-align: end;
    font-size: 24px;
}

.optional-cat-title {
    font-size: 20px;
}

.category-name {
    font-size: 35px;
}

.category-link {
    padding-top: 25px;
}

.categorylist-header {
    font-size: 40px;
}
/* product-list-adaptive */

/* product-card-adaptive */



.product-wrapper {
    width: 90%;
    flex-direction: column;
}
.product-review {
    width: 100%;
}

.title-in-card {
    padding-top: 15px;
    font-size: 40px;
}

.product-full-info {
    max-width: 100%;
}

.components {
    font-size: 24px;
}

.description {
    font-size: 22px;
    text-align: justify;
}


.quantitative-info {
    font-size: 26px;
}

.add2cart-buttons {
    width: 400px;
    height: 80px;
}

.go2cart {
    font-size: 22px;
}

.plus, .minus {
    font-size: 55px;
}

.count-of-product-in-cart {
    font-size: 26px;
}
/* product-card-adaptive */


/* cart */
.cart-wrapper {
    width: 90%;
}

.checkout-and-product-list {
    flex-direction: column;
}

.product-list-in-cart {
    width: 100%;
    margin-bottom: 25px;

}

.cart-title {
    font-size: 50px;
}

.select2all-label {
    font-size: 26px;
}

.name {
    font-size: 30px;
}

.price-in-cart {
    font-size: 30px;
}

.weight {
    font-size: 26px;
}

.plus-minus-platform {
    width: 200px;
    height: 70px;
}

.plus-in-cart, .minus-in-cart {
    font-size: 50px;
    font-family: 'Inter';
}

.delete {
    font-size: 27px;
}

.img-wrapper {
    max-width: 270px;
    max-height: 270px;
}

.product-label {
    padding-right: 20px;
}

.your-cart {
    font-size: 45px;
}

.checkout-block {
    width: 100%;
    min-height: 200px;
}

.go2checkout {
    min-height: 70px;
    font-size: 40px;
    border-radius: 20px;
}

.common-price-with-ruble, .common-price-txt {
    font-size: 30px;
}


























/* cart */

/* ordering-adaptive */

.checkout-wrapper {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 90vh;
}

.order_field {
    height: 80px;
    font-size: 35px;
    width: 100%;
}

.checkout-btn {
    width: 100%;
    font-size: 40px;
}

.fio-wrapper {
    flex-direction: column;
}

.order-title {
    font-size: 55px;
}
.tel-address-wrapper {
    flex-direction: column;
}
#address {
    width: 100%;
}
/* ordering-adaptive */

/* adaptive-footer */
.footer-wrapper {
    width: 90%;
}

.yellow-logo {
    width: 90px;
    height: 90px;
}

.mail {
    font-size: 30px;
}

.contact-logo {
    width: 40px;
    height: 40px;
}

.info-about-us {
    position: absolute;
    right: 0;
    bottom: 5px;
    display: flex;
    flex-direction: column;
}

.creator-name-link {
    font-size: 22px;
    font-family: 'Inter', sans-serif;
    color:#000000;
    line-height: 1.25;
}


/* adaptive-footer */

/* adaptive-orders */
.orders-wrapper {
    width: 90%;
}

.my-orders {
    font-size: 55px;
}

.fio-in-orders {
    font-size: 40px;
}

.number-postcode {
    font-size: 35px;
}

.address-in-orders, .status, .price-in-orders {
    font-size: 32px;
}








/* adaptive-orders */

}

/* adaptive-layout */