@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    
}
/* common styles for header */
/* header {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #C15D00;
    justify-content: space-between;
}
.header_section {
    width: 50%;
    position: relative;
}

.natur {
    font-size: 180%;
    font-family: 'Inter', sans-serif;
    margin-left: 5%;
    color: #3E7D3E;
    margin-bottom: 5px;
}

#leftHeader{
    text-align: left;
    margin-left: 5%;
    align-content: center;
}

#rightHeader{
    text-align: right;
    margin-right: 5%;
    align-content: center;
}

.icon {
    max-width: 7%;
    max-height: auto;
    margin-right: 5%;
    border-radius: 15px;
    border: 1px solid #006400;
    flex: display;
    justify-content: center;
    align-items: center;
}

.auth-txt {
    margin-right: 3%;
    font-size: 150%;
    font-family: 'Montserrat', sans-serif;
} */

/* header2 */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #FA9B29;
    margin-bottom: 20px;
}
.header-wrapper {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.right {
    width: 23%;
    display: flex;
    flex-direction: space-between;
    align-items: center;
}

.natur {
    font-size: 120%;
    font-family: 'Inter', sans-serif;
    color: #3E7D3E;
    white-space: nowrap;
    padding-left: 20px;
}

.icon {
    height: 40px;
    width: 40px;
    border: 1px solid #006400;
    border-radius: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}
.icon:hover {
    border: 1px solid #FA9B29;
    transition-duration: 0.4s;
}

.icon-img-vk {
    max-width: 27px;
    max-height: 15px;
}

.icon-img-google {
    max-width: 20px;
}


/* header2 */

aside {
    float: left;
    border-right: #C15D00 2px solid;
}


main {
    display: flex;
    justify-content: center;
    min-height: 90vh;
    align-items: center;
}
.main-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}
.company-name {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.safya {
    width: 60%;
    height: auto;
}

/* slider */

.slider-wrapper {
    width: 100%;
    margin-top: 0.4%;
    position: relative;    
}

.slider-photo {
    width: 100%;
    border-radius: 20px;
}
.swiper-button-next, .swiper-button-prev{
    color: #28a128;
}
/* slider */
.catalog {
    color: black;
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
}
.catalog-link {
    margin-top: 65px;
}

.swiper-pagination-bullet{
    background: #ffffff;
}

.swiper-pagination-bullet-active{
    background: white;
}


/* Категории на главной странице */
.categories-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3%;
}

.category-block {
    width: 48%;
    position: relative;
    margin-bottom: 3%;

}

.category-longblock {
    width: 100%;
    position: relative;

}

.category-photo {
    width: 100%;
    /* position: relative; */
    border-radius: 20px;
    box-shadow: 0 0 10px #000000;
}

.category-title {
    position: absolute;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    left: 25px;
    bottom: 10px;
    color: #ffffff;
}


/* footer */
footer {
    border-top: 2px solid #C15D00;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.footer-wrapper {
    width: 75%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.yellow-logo {
    width: 60px;
    height: 60px;
}

.contacts-block {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.contact-logos {
    display: flex;
    justify-content: space-between;
}
.mail {
    font-size: 20px;
    font-family: 'Montserrat';
    font-style: normal;
}

.contact-logo {
    width: 40px;
    opacity: 85%;
}
.contact-logo:hover {
    opacity: 100%;
}
/* footer */



/*products-list */
.products-list-wrapper {
    width: 75%;
    min-height: 90vh;
}


.left-block-inproductslist {
    width: 25%;
    float: left;
    margin-right: 15px;
}

.right-block-inproductslist {
    width: 70%;
    float: right;
}

.categorylist-header {
    min-height: 15vh;
    display: flex;
    align-items: flex-end;
    padding-left: 10px;
    font-size: 24px;
    font-family: 'Ubuntu', sans-serif;
}

.categorieslist {
    display: flex;
    flex-direction: column;
}

.category-name {
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 20px;
    font-family: 'Montseratt', sans-serif;
}

/* правая сторона */
.current-category-name {
    min-height: 15vh;
    display: flex;
    align-items: flex-end;

}
.current-category-name span {
    font-size: 60px;
    font-family: 'Rubik', sans-serif;
}
.products-list {
    display: flex;
    flex-wrap: wrap;
}


.product-block {
    width: 30%;
    border-radius: 10px;
    max-width: 200px;
    margin-right: 3%;
    margin-bottom: 25px;
}
.image-block {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
    max-height: 200px;
    max-width: 200px;
}
.product-preview {
    max-width: 100%;
    max-height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.product-info {
    border: 1px solid #eeeeee;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.txt-info {
    display: flex;
    justify-content: space-between;
}
.product-title {
    font-size: 24px;
    font-family: "Inter", sans-serif;
    padding-left: 3%;
}
.product-price {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    padding-right: 3%;
}

.side-info {
    min-width: 100%;
    /* display: flex;
    justify-content: space-between; */
}
.add2cart {
    width: 45%;
    margin: 0 3% 3% 3%;
    float: right;
    
}
.optional-cat-title {
    padding: 5% 3% 0 3%;    
    font-size: 20px;
    float: left;
    font-family: 'Inter', sans-serif;
}

/* правая сторона  */

/* products-list */

/* product-cart */
.product-wrapper {
    width: 75%;

}


/* product-cart */