{% load static %}
<footer>
    <div class="footer-wrapper">
        <img class="yellow-logo" src="{% static 'img/logo-yellow.svg' %}"> 
        <div class="contacts-block"> 
            <span class="mail">yulamanova.2017@mail.ru</span>
            <div class="contact-logos">
                <a href="https://instagram.com/safiya_milo?igshid=YmMyMTA2M2Y="><img class="contact-logo" src="{% static 'img/inst-logo.svg' %}"></a>
                <a href="https://api.whatsapp.com/qr/A5DWZJZGWX7TN1?autoload=1&app_absent=0"><img class="contact-logo" src="{% static 'img/whatsapp-logo.svg' %}"></a>
                <a href='https://vk.com/id136213309'><img class="contact-logo" src="{% static 'img/vk-for-footer.svg' %}"></a>
            </div>
        </div>
        <div class="info-about-us">
            <a target='_blank' class="creator-name-link" href="https://t.me/banzaikia">Developed by Bainazar</a>
            <a target='_blank' class="creator-name-link" href="https://vk.com/van.chessko">Designed by Ivan</a>
            <a target='_blank' class="creator-name-link" href="{% url 'about-shop' %}">Публичная оферта</a>
        </div>
    </div>
</footer>